body {
    @include container;
    height: 100%;
    &.overflow {
        overflow: hidden;
    }
}

html {
    height: 100%;
}

body.IE {
    .floating-logo {
        span {
            letter-spacing: 7px;
        }
    }
}

main.row {
    @include margin(xs, top);
}

h1 {
    @include text(h1);
}

h2 {
    @include text(h2);
}

h3 {
    @include text(h3);
}

p {
    @include text(p1);
}

a {
    @include text(a);
}