.categories-menu {
    @include padding(s, top bottom);
    display: block;
    &__item {
        @include padding(xs, top);
        &:first-child {
            padding: 0;
        }
        a {
            text-decoration: underline;
            color: $color-white;
            @include text(h3);
            font-family: 'verdana';
        }
    }
}