.floating-logo {
    display: none;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 31px;
    z-index: 10;
    @include text(logo);
    color: $color-white;
    background-color: $color-main;
    @include bp(s) {
        display: inline-block;
    }
    span {
        display: block;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
}

.logo-container {
    position: fixed;
    height: 110px;
    left: 0;
    right: 0;
    top: 85px;
    &__content {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
    }
}