.share-buttons {
    display: flex;
    max-width: 240px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @include margin(m, top bottom);
    @include bp(s) {
        max-width: 280px;
    }
    &__button {
        display: inline-block;
        @include margin(s, right);
        a {
            display: block;
            background-color: $grey;
            color: $color-white;
            @include padding(s);
            @include font-awesome('f003');
        }
    }
}